<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=AW-16621298001"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "AW-16621298001");
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>jump page</title>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                window.location.href =
                    "https://forms.gle/mkg2vmdtAeU7hV4J6";
            });
        </script>
    </head>
</html>
